@use "css/shapes";
@use "css/interactive-variants";

.button {
    @include interactive-variants.default;
    @include shapes.default;

    display: inline-block;
    flex-shrink: 0;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    padding: 0.5357143em 1em;
    min-width: 2.5714285714em;
    min-height: 2.5714285714em;
    color: var(--primary);
    font-size: 0.875rem;
    line-height: 1ch;
    text-align: center;
    text-decoration: none;

    &:disabled,
    &[aria-disabled="true"] {
        opacity: 0.6;
        pointer-events: none;
        user-select: none;
    }

    > span {
        display: inline-flex;
        align-items: center;
        gap: 0.25em;
        width: fit-content;
        height: 1.5em;
        white-space: nowrap;
    }

    &.icon-only {
        padding: 0.5357143em;

        > span {
            justify-content: center;
            gap: 0;
            width: 1.5em;
            height: 1.5em;
            text-indent: -1000vw;
        }
    }
}
