@use "css/shapes";
@use "css/interactive-variants" as interactive-variants;

.button {
    @include interactive-variants.default;
    @include shapes.default;

    display: inline-block;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    box-sizing: border-box;

    border: none;
    padding: 0.5357143em 1em;
    color: var(--primary);
    font-size: 0.875rem;
    line-height: 1ch;
    text-align: center;

    text-decoration: none;

    &:disabled,
    &[aria-disabled="true"] {
        opacity: 0.6;
        pointer-events: none;
        user-select: none;
    }

    > span {
        display: inline-flex;
        align-items: center;
        gap: 0.25em;
        width: fit-content;
        height: 1.5em;
    }
}

.icon-only {
    padding: 0.5357143em;

    > span {
        justify-content: center;
        gap: 0;
        min-width: 1.5em;
        height: 1.5em;
        text-indent: -1000vw;
    }
}
