@use "css/content-variants";

.drawer {
    @include content-variants.default;

    position: fixed;

    animation-duration: 0.15s;

    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    box-sizing: border-box;
    margin: 0;
    border: none;
    padding: 1rem;
    max-width: 100dvw;
    max-height: 100dvh;
    color: unset;

    &:focus-visible {
        outline: none;
    }

    &::backdrop {
        backdrop-filter: blur(0.25rem);
        animation-duration: inherit;
        animation-timing-function: inherit;
        animation-fill-mode: inherit;
        background-color: var(--backdrop);
    }

    &.open {
        &::backdrop {
            animation-name: dialog-backdrop-open;

            @media (prefers-reduced-motion: reduce) {
                opacity: 1;
                animation: none;
            }
        }

        @keyframes dialog-backdrop-open {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }

    &.close {
        &::backdrop {
            animation-name: dialog-backdrop-close;

            @media (prefers-reduced-motion: reduce) {
                opacity: 0;
                animation: none;
            }
        }

        @keyframes dialog-backdrop-close {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
    }

    &.left {
        top: 0;
        left: 0;
        width: fit-content;
        height: 100dvh;

        &.outlined {
            border-top: none;
            border-bottom: none;
            border-left: none;
        }

        &.raised {
            box-shadow:
                2px 0px 3px -1px var(--shadow),
                1px 0px 1px 0px var(--shadow);
        }
    }

    &.right {
        margin-left: auto;
        width: fit-content;
        height: 100dvh;

        &.outlined {
            border-top: none;
            border-right: none;
            border-bottom: none;
        }

        &.raised {
            box-shadow:
                -2px 0px 3px -1px var(--shadow),
                -1px 0px 1px 0px var(--shadow);
        }
    }

    &.top {
        top: 0;
        width: 100%;
        height: fit-content;
        &.outlined {
            border-top: none;
            border-right: none;
            border-left: none;
        }
    }

    &.bottom {
        margin-top: auto;
        width: 100%;
        height: fit-content;

        &.outlined {
            border-right: none;
            border-bottom: none;
            border-left: none;
        }

        &.raised {
            box-shadow:
                0px -2px 3px -1px var(--shadow),
                0px -1px 1px 0px var(--shadow);
        }
    }
}
