@use "shared/styles/interactive-variants";
@use "shared/styles/shapes";

.button {
    display: inline-block;
    box-sizing: border-box;
    line-height: 1ch;
    color: var(--primary);

    text-decoration: none;
    text-align: center;

    border: none;
    font-size: 0.875rem;
    padding: 0.5357143em 1em;
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    cursor: pointer;

    &:disabled,
    &[aria-disabled="true"] {
        opacity: 0.6;
        pointer-events: none;
        user-select: none;
    }

    span {
        height: 1.5em;
        width: fit-content;
        display: inline-flex;
        gap: 0.25em;
        align-items: center;
    }
}
