@use "css/content-variants";

.navbar {
    @include content-variants.default;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    padding: 0.5rem;
    width: 100%;
    min-height: 3.5rem;

    &.outlined {
        border-top: none;
        border-right: none;
        border-left: none;
    }

    &.sticky {
        position: sticky;
        top: 0;
        z-index: 9999;
    }
}
