@mixin default {
    &.flat {
        background-color: var(--content);
    }

    &.raised {
        box-shadow:
            0px 2px 3px -1px var(--shadow),
            0px 1px 1px 0px var(--shadow);

        background-color: var(--content);
    }

    &.soft {
        background-color: color-mix(in srgb, currentColor, transparent 80%);
        color: var(--primary);
    }

    &.outlined {
        border: 1px solid var(--border);
        background-color: var(--content);
    }
}
