@mixin hover-mixin {
    &:hover,
    &:focus {
        background-color: color-mix(in srgb, currentColor, transparent 90%);
    }

    &:active {
        background-color: color-mix(in srgb, currentColor, transparent 80%);
    }

    &:focus-visible {
        outline: none;
    }

    span {
        color: currentColor;
    }
}

@mixin transition-mixin {
    transition-duration: 0.2s;
    transition-property: background-color, box-shadow;

    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }
}

@mixin static {
    &.flat {
        background-color: currentColor;

        span {
            color: var(--primary-content);
        }
    }

    &.raised {
        box-shadow:
            0px 2px 3px -1px var(--shadow),
            0px 1px 1px 0px var(--shadow);

        background-color: var(--content);
    }

    &.soft {
        background-color: color-mix(in srgb, currentColor, transparent 80%);

        span {
            color: currentColor;
        }
    }

    &.outlined {
        outline: 1px solid var(--border);
        outline-offset: -1px;
        background-color: transparent;
    }

    &.colored-outline {
        outline: 1px solid color-mix(in srgb, currentColor, var(--border) 50%);
        outline-offset: -1px;
        background-color: transparent;
    }

    &.text {
        background-color: transparent;
    }
}

@mixin default {
    &.flat {
        @include transition-mixin;

        background-color: currentColor;

        &:hover,
        &:focus {
            background-color: color-mix(in srgb, currentColor, var(--text) 10%);
        }

        &:focus-visible {
            outline: none;
        }

        &:active {
            background-color: color-mix(in srgb, currentColor, var(--text) 20%);
        }

        span {
            color: var(--primary-content);
        }
    }

    &.raised {
        @include transition-mixin;
        @include hover-mixin;

        box-shadow:
            0px 2px 3px -1px var(--shadow),
            0px 1px 1px 0px var(--shadow);

        background-color: var(--content);

        &:hover {
            box-shadow:
                0px 3px 3px -1px var(--shadow),
                0px 2px 5px 0px var(--shadow);
        }

        &:active {
            box-shadow:
                0px 2px 3px -1px var(--shadow),
                0px 1px 1px 0px var(--shadow);
        }
    }

    &.soft {
        @include transition-mixin;

        background-color: color-mix(in srgb, currentColor, transparent 80%);

        &:hover,
        &:focus {
            background-color: color-mix(in srgb, currentColor, transparent 70%);
        }

        &:focus-visible {
            outline: none;
        }

        &:active {
            background-color: color-mix(in srgb, currentColor, transparent 60%);
        }

        span {
            color: currentColor;
        }
    }

    &.outlined {
        @include transition-mixin;
        @include hover-mixin;

        outline: 1px solid var(--border);
        outline-offset: -1px;
        background-color: transparent;

        &:focus-visible {
            outline: 1px solid var(--border);
            outline-offset: -1px;
        }
    }

    &.colored-outline {
        @include transition-mixin;
        @include hover-mixin;

        outline: 1px solid color-mix(in srgb, currentColor, var(--border) 50%);
        outline-offset: -1px;
        background-color: transparent;

        &:focus-visible {
            outline: 1px solid color-mix(in srgb, currentColor, var(--border) 50%);
            outline-offset: -1px;
        }
    }

    &.text {
        @include transition-mixin;
        @include hover-mixin;

        background-color: transparent;
    }
}
