@mixin hover-mixin {
    &:hover {
        background-color: color-mix(in srgb, currentColor, transparent 90%);
    }

    &:active {
        background-color: color-mix(in srgb, currentColor, transparent 80%);
    }

    span {
        color: currentColor;
    }
}

@mixin transition-mixin {
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s;
}

.flat {
    @include transition-mixin;

    background-color: currentColor;

    &:hover {
        background-color: color-mix(in srgb, currentColor, var(--text) 10%);
    }

    &:active {
        background-color: color-mix(in srgb, currentColor, var(--text) 20%);
    }

    span {
        color: var(--primary-content);
    }
}

.raised {
    @include transition-mixin;
    @include hover-mixin;

    background-color: var(--content);
    box-shadow:
        0px 2px 3px -1px var(--shadow),
        0px 1px 1px 0px var(--shadow);

    &:hover {
        box-shadow:
            0px 3px 3px -1px var(--shadow),
            0px 2px 5px 0px var(--shadow);
    }

    &:active {
        box-shadow:
            0px 2px 3px -1px var(--shadow),
            0px 1px 1px 0px var(--shadow);
    }
}

.soft {
    @include transition-mixin;

    background-color: color-mix(in srgb, currentColor, transparent 80%);

    &:hover {
        background-color: color-mix(in srgb, currentColor, transparent 70%);
    }

    &:active {
        background-color: color-mix(in srgb, currentColor, transparent 60%);
    }

    span {
        color: currentColor;
    }
}

.outlined {
    @include transition-mixin;
    @include hover-mixin;

    outline: 1px solid var(--border);
    background-color: transparent;
    outline-offset: -1px;
}

.colored-outline {
    @include transition-mixin;
    @include hover-mixin;

    outline: 1px solid color-mix(in srgb, currentColor, var(--border) 50%);
    background-color: transparent;
    outline-offset: -1px;
}

.text {
    @include transition-mixin;
    @include hover-mixin;

    background-color: transparent;
}
