@use "css/content-variants";
@use "css/shapes";

.dialog {
    @include content-variants.default;
    @include shapes.default;

    animation-duration: 0.15s;

    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    box-sizing: border-box;
    border: none;
    padding: 0;
    max-width: 100dvw;
    max-height: 100dvh;
    color: unset;

    &:focus-visible {
        outline: none;
    }

    &::backdrop {
        backdrop-filter: blur(0.25rem);
        animation-duration: inherit;
        animation-timing-function: inherit;
        animation-fill-mode: inherit;
        background-color: var(--backdrop);
    }

    &.open {
        &::backdrop {
            animation-name: dialog-backdrop-open;
        }

        @keyframes dialog-backdrop-open {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }

    &.close {
        &::backdrop {
            animation-name: dialog-backdrop-close;
        }

        @keyframes dialog-backdrop-close {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
    }
}
