@use "css/content-variants";

.dialog {
    @include content-variants.default;

    box-sizing: border-box;
    border: none;
    padding: 0;
    color: unset;

    &:focus-visible {
        outline: none;
    }

    &[open] {
        &::backdrop {
            // TODO: Add close animation
            animation: show 0.15s forwards;

            @media (prefers-reduced-motion: reduce) {
                animation: none;
            }

            @keyframes show {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }
    }

    &::backdrop {
        backdrop-filter: blur(0.25rem);
        background-color: var(--backdrop);
    }
}
