@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --primary: #368ce7;
    --primary-content: #fefefe;
    --accent: #7ab3ef;

    --danger: #c41f0f;

    --content: #ffffff;
    --background: #f8f8f8;

    --border: #dedede;
    --shadow: #c4c4c4;
    --backdrop: #00000022;

    --text: #080808;
    --text-900: color-mix(in srgb, var(--text), white 10%);
    --text-800: color-mix(in srgb, var(--text), white 20%);
    --text-700: color-mix(in srgb, var(--text), white 30%);
    --text-600: color-mix(in srgb, var(--text), white 40%);
    --text-500: color-mix(in srgb, var(--text), white 50%);
    --text-400: color-mix(in srgb, var(--text), white 60%);
    --text-300: color-mix(in srgb, var(--text), white 70%);
    --text-200: color-mix(in srgb, var(--text), white 80%);
    --text-100: color-mix(in srgb, var(--text), white 90%);
}

body {
    margin: 0;
    background-color: var(--background);
    padding: 0;
}

* {
    font-family: "Inter", serif;
}
