@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --primary: #368ce7;
    --primary-content: #fefefe;
    --accent: #7ab3ef;

    --border: #dedede;
    --shadow: #c4c4c4;

    --content: #ffffff;
    --background: #f5f5f4;

    --text: #080808;
}

body {
    margin: 0;
    background-color: var(--background);
    padding: 0;
}

* {
    font-family: "Inter", serif;
}
