@use "css/interactive-variants";
@use "css/shapes";

.chip {
    display: inline-block;
    box-sizing: border-box;
    line-height: 1ch;
    color: var(--primary);

    text-decoration: none;
    text-align: center;

    border: none;
    font-size: 0.875rem;
    padding: 0em 0.75em;
    pointer-events: none;

    &:disabled,
    &[aria-disabled="true"] {
        opacity: 0.6;
        pointer-events: none;
        user-select: none;
    }

    > span {
        height: 1.857144em;
        width: fit-content;
        display: inline-flex;
        gap: 0.25em;
        align-items: center;
    }
}

.interactive {
    cursor: pointer;
    pointer-events: all;
}

.icon-only {
    padding: 0;

    > span {
        height: 1.857144em;
        width: 1.857144em;
        gap: 0;
        text-indent: -100vw;
        justify-content: center;
    }
}
