@use "css/interactive-variants" as interactive-variants;
@use "css/shapes" as shapes;

.chip {
    @include interactive-variants.static;
    @include shapes.default;

    display: inline-block;
    flex-shrink: 0;
    box-sizing: border-box;

    border: none;
    padding: 0em 0.75em;
    min-width: 1.8571428571em;
    min-height: 1.8571428571em;
    color: var(--primary);
    font-size: 0.875rem;
    line-height: 1ch;
    text-align: center;

    text-decoration: none;

    &:disabled,
    &[aria-disabled="true"] {
        opacity: 0.6;
        pointer-events: none;
        user-select: none;
    }

    > span {
        display: inline-flex;
        align-items: center;
        gap: 0.25em;
        width: fit-content;
        height: 1.857144em;
        white-space: nowrap;
    }

    &.icon-only {
        padding: 0;

        > span {
            justify-content: center;
            gap: 0;
            width: 1.857144em;
            height: 1.857144em;
            text-indent: -100vw;
        }
    }
}

button.chip,
a.chip {
    @include interactive-variants.default;
    cursor: pointer;
    pointer-events: all;
}
