@use "css/content-variants" as content-variants;
@use "css/shapes" as shapes;

.tooltip {
    @include content-variants.default;
    @include shapes.default;

    position: fixed;
    top: 0;
    left: 0;
    align-content: center;
    z-index: 100;
    box-sizing: border-box;
    padding: 0 0.5em;
    width: fit-content;
    height: fit-content;
    height: 1.625em;
    pointer-events: none;

    font-size: 0.875rem;
    white-space: nowrap;
}
