.scroll-view {
    mask-composite: intersect;
    & > * {
        scroll-snap-align: var(--child-snap-align);
    }

    &.hide-scrollbar {
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
